/* cpmmon styles */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
#container-fluid {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* banner-styles */
.banner {
	margin-top: 50px;
	background-image:linear-gradient(90deg, rgba(51,105,100,1) 39%, rgba(134,200,123,1) 70%, rgba(20,85,106,1) 85%);
	width: 90%;
	border-radius: 20px;
	margin-bottom: 100px;
	margin: 100px auto;
}
.banner-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 44px 0 40px;
}
.banner-heading {
  width: 40%;
}
.banner-heading h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 20px;
}
.banner-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 24px;
}
.banner-btn {
  background-color: #dd0000;
  padding: 16px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.arrow {
  margin-left: 10px;
}
.banner-image {
  width: 50%;
  text-align: right;
}
.banner-image img {
  width: 100%;
  margin-bottom: -4px;
}

/* small-nav-transfar-styles */

.small-nav {
  justify-content: space-between;
  border-radius: 10px;
  width: 300px;
  height: 312px;
  margin: 0 auto;
  background: rgb(30,150,172);
  padding: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.small-nav-transfar {
  display: flex;
}

.transfers {
  display: flex;
  margin-bottom: 100px;
}

.upcoming {
  background: #ffffff;
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  transition: ease-out .8s;
  cursor: pointer;
}
.upcoming:hover {
  box-shadow: inset 300px 0 0 0 #a8f502;
  color:#161616;
}
.upcoming a {
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-weight: 500;
}
.group {
  background: #ffffff;
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
  margin: 30px 0;
  width: 200px;
}
.group a {
  text-decoration: none;
  color: #161616;
  font-size: 20px;
  font-weight: 500;
}
.blog {
  background-color: #dd0000;
  padding: 30px 50px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  transition: ease-out .8s;
  cursor: pointer;
}
.blog:hover {
  box-shadow: inset 300px 0 0 0 #088f21;
  color:#161616;
}
.blog a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.transfers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.transfer-blog {
  width: 300px;
  height: 362px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.blog-image img {
  width: 300px;
}
.blog-info {
  padding: 20px;
}
.transfer-link {
  margin-bottom: 20px;
}
.transfer-link a {
  text-decoration: none;
  padding: 5px 30px;
  border: 1px solid #161616;
  border-radius: 5px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
}
.tranfer-text p {
  font-size: 18px;
  font-weight: 500;
  color: #161616;
}
.transfer-icons {
  display: flex;
  margin-top: 20px;
}
.clock-icon {
  padding-right: 30px;
}
.clock-icon p {
  font-size: 16px;
  color: #161616;
  font-weight: 400;
}
.chat-icon p {
  font-size: 16px;
  color: #161616;
  font-weight: 400;
}
/* viwe-all-btn */
.responsiv-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.view-btn {
  text-align: center;
  background-color: #dd0000;
  margin: 30px 0;
  padding: 15px 40px;
  border-radius: 5px;
  visibility: hidden;
}
.view-btn a {
  text-decoration: none;
  color: #ffffff;
  font: 16px;
  font-weight: 500;
}

/* footer-styels */

.footer {
  width: 100%;
  padding: 100px 0;
  background-color: #161616;
}
.footer-info {
  width: 75%;
  margin: 0 auto;
}
.footer-info h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff26;
}
.footer-menu {
  padding-top: 50px;
  padding-right: 90px;
}

.footer-menu ul {
  display: flex ;
  flex-direction: row ;
  justify-content: space-around;
}
.footer-menu ul li {
  list-style: none;
}
.footer-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #b9b9b9;
}
.transfer-icons p {
  opacity: 0.7;
}
.transfer-icons .padding {
  padding-right: 15px;
}
/* social-icons-styles */
.social-icon{
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 10px;

}
.social-icon a{
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  padding-right: 30px;
}

/* responsive-styles */


/* mobile-Device */
@media only screen and (max-width: 668px) {
  #container-fluid {
    width: 100% !important;
  }
  .banner {
    width: 100% !important;
    background-image:  linear-gradient(90deg, rgba(30,150,172,1) 23%, rgba(20,171,156,1) 41%, rgba(19,104,131,1) 85%);
    margin-bottom: 30px;
  }
  .banner-image img {
    width: 100%;
  }
  .transfers {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-info {
    flex-direction: column;
    text-align: center;
    padding: 30px 60px 0 60px;
  }
  .banner-heading {
    width: 250px !important;
    text-align: center;
  }
  .banner-heading h1 {
    font-size: 26px;
  }
  .banner-image {
    margin-top: 50px;
    text-align: center;
  }
  .banner-image img {
    text-align: center;
  }
  .small-nav-transfar {
    flex-direction: column;
  }
  .small-nav {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff;
  }
  .upcoming {
    border: 1px solid #b9b9b9;
  }
  .group {
    border: 1px solid #b9b9b9;
  }
}
.blog {
  margin-bottom: 30px;
}
.responsive ul {
  flex-direction: column ;
  align-items: center;
}
.responsive ul li {
  padding-bottom: 30px;
}

/* Tablet-Device */

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  #container-fluid {
    width: 100% ;
  }
  .banner {
    width: 90%;
    margin: 0 auto ;
   background-image: linear-gradient(90deg, rgba(45,133,15,1) 11%, rgba(101,179,1,1) 54%, rgba(18,133,124,1) 92%);
    margin-top: 30px ;
  }
  .banner-image img {
    width: 100% ;
  }
  .banner-heading {
    width: 1005 ;
    text-align: center;
  }
  .banner-heading h1 {
    font-size: 26px;
  }
  .banner-heading p {
    font-size: 16px;
  }

  .banner-image {
    margin-top: 50px;
    text-align: center;
  }
  .banner-image img {
    width: 100%;
    text-align: center;
  }
  .small-nav {
    display: flex;
    width: 600px !important;
    background-color: transparent;
    margin-bottom: 30px;
    height: 80px !important;
    padding-right: 0!important;
  }
  .transfers {
    grid-template-columns: repeat(2, 1fr);
  }

  .small-nav-transfar {
    width: 100%;
    flex-direction: column;
  }
  .upcoming {
    border: 1px solid #b9b9b9;
    width: 124px;
    padding: 20px ;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .upcoming a {
    font-size: 16px;
  }
  .group{
    border: 1px solid #b9b9b9;
    width: 124px ;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .group a {
    font-size: 16px;
    padding-left: 38px;
  }
  .blog {
    /* background-color: green !important; */
    width: 124px;
    padding: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    
  }

  .blog a {
    font-size: 16px;
  }
  /* button */

  .view-btn {
    visibility: visible;
  }
  /* foote-responsive */
  .footer-menu ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-menu ul li {
    padding-bottom: 30px;
  }
  
  .footer-menu ul li {
    padding-right: 20px;
  }
}

/* desktop-device */
@media only screen and (min-width: 1025px) and (max-width:1500px){ 
  #container-fluid{
    width: 100% !important;
  }
  .banner {
    width: 90% !important;
    margin: 40px auto ;
    background-color: green;
    margin-top: 30px ;
  }
  .banner-image img {
    width: 50%;
  }
  .banner-image img {
    width: 100%;
  }
  .banner-heading {
    width: 50%;
    text-align: center;
  }
  .small-nav-transfar{
    width: 100% !important;
  }
  .transfers{
    grid-template-columns: repeat(2, 1fr);
  }
  } 